<div class="wrapper">
<h1 class="title"><span>Внимание! </span> Кнопка "Wait" работает по двойному щелчку!</h1>
<div class="container">
  <div class="timer">
    {{ (startValue + value) | hhmmss | date: 'HH:mm:ss' }}
  </div>
  <div class="buttons">
    <button class="btn start" 
            (click)="startStopTimer()">
              Start / Stop
          </button>
    <button class="btn" 
            (click)="toggle(value)"
            [disabled]="timeOut">
              Wait
          </button>
    <button class="btn" 
            (click)="resetTimer()">
              Reset
          </button>
  </div>
  
</div>
</div>
